<section>
    <div class="data-pickers">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <button class="get-button" (click)="getPicture()">Get</button>
    </div>
    <article *ngIf="picture">
        <h2>{{picture.title}}</h2>
        <p>{{picture.explanation}}</p>
        <img [src]="picture.url" alt="picture of the day">
    </article>
</section>





