.data-pickers {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-button {
    width: 100px;
    cursor: pointer;
}

article {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
  